.categories-drop{
	padding: 10px;

	.x-title-text{
		overflow: visible;
		white-space: normal;
		text-overflow: initial;
	}
}


.category-drag{
	border: 1px solid $base-color;
	cursor: pointer;
	padding: 10px;
}



.cagegories-timerText{
	border: 1px solid $base-color;
	height: 50px;
	padding: 10px;	
}



.categories-item-list{
	.title{
		font-weight: bold;
	}
	.guess{

	}
}