

.x-panel-body-default{
	font-family: 'Roboto', sans-serif;
}



@include button-ui(
	$ui: 'checkAnswerBtn',
	$background-color: $base-color,
	$color: $light-color
);
@include button-ui(
	$ui: 'resetBtn',
	$background-color: $base-color,
	$color: $light-color
);

@include button-ui(
	$ui: 'showHelp',
	$background-color: $base-color,
	$color: $light-color
);

@include button-ui(
	$ui: 'back',
	$background-color: $base-color,
	$color: $light-color
);

@include button-ui(
	$ui: 'round',
	$background-color: $base-color,
	$color: $light-color
);



.x-toast{
	background-color: white;
}



.x-picker-bar{
	opacity: .5
}






.page-content{
	padding:0 15px 0 10px;
}


.captionhead{
	font-weight: bold;
}

.x-mask-msg-text{
	padding: 25px 0 0;
    background-image: url(images/loadmask/loading.gif);
    background-repeat: no-repeat;
    background-position: center 0;
}


.x-list-item{
	.x-innerhtml{
		> span{
			display: flex;
		}
		.x-list-item-leaf{
			font-weight: normal;
			width: 100%;
		}
		.x-list-item-branch{
			font-weight: bold;
			width: 100%;
		}
	}
}

.imageicon{
	width: 24px; 
	height: 24px; 
	background: rgba(100, 100, 100, .6);
	position: absolute;
	&:before{
		top: 0px;
		left: 3px;
		position: absolute;
		color: white;
		font-size: 20px;
	}
}

.imagecontainer{
  &.rightimage{
    margin-left: 14px; 
    padding-left: 12px;
  }
  &.leftimage{
    margin-right: 14px; 
    padding-right: 12px;
  }
  &.centerimage{
    margin-top: 14px; 
    padding-top: 12px;
  }
  &.centerimage{
    margin-bottom: 14px; 
    padding-bottom: 12px;
  }
}

.x-msgbox{
  .x-dock-body{
    padding: 4px;
    background-color: white;
  }
}

/* 

Table of Contents

 */

.tableofcontents{
	border-right: 1px solid darkgray;
}
.x-list-item-disabled{
  color: lightgray;
}


/* 

Question

 */


.x-input-text{
	border: 1px solid lightgray;
}


/* DDNUM */
.ddnum-item{}

.ddnum-step{
  float: left;
  width: 42px;
  height: 42px;
  margin: 5px 10px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  line-height: 42px; 
}
.ddnum-step.blank{
  border: 1px dotted darkgray;
  border-radius: 5px;
}
.ddnum-step.selected{
  border: 2px solid darkgray;
  border-radius: 5px;
}

.ddnum-text{
  /* margin-left: 5px; */
  padding-left: 61px
}
.x-picker-slot .x-dataview-item.x-item-selected{
	font-weight: normal;
}


/* DDTASK */

.ddtask-item{}

.ddtask-item-list{
	margin-left: 20px;
	.x-list-item{
	  background-color: #fefefe;
	  width: 90%;
	  @include single-box-shadow($hoff: 0px, $voff: 2px, $blur: 5px, $spread: 0px, $color: rgba(0,0,0,0.26));
	  margin: 10px;
	  border: 1px solid darkgray !important;
	  border-radius: 6px !important;
	}
}

.ddtask-arrow{
	position: absolute;
	right: 0;
	top: 0;
	width: 42px;
	height: 100%;

	border-left: 1px solid darkgray !important;
}

.ddtask-category-selected{
color: darkgray;
}
.ddtask-category-notselected{
  color: darkblue;
}

.ddtask-text-selected{
  margin-left: 16px;
  color: darkgray;
  margin-right: 30px;
}
.ddtask-text-notselected{
  margin-left: 16px;
  margin-right: 30px;
}



.ddtask-picker{
  border: 1px solid darkgray !important;
  border-radius: 6px;
  background-color: white !important;
&.x-panel.x-floating>.x-dock.x-sized{
  margin: 0px;
}

.ddtask-picker-title{
  margin: 4px;
  color: #555;
  font-weight: bold;
  .x-inner{
    border-radius: 0px;
  }
}
}

.ddtask-category-text{
text-align: center;
font-weight: bold;

}



/**
* @class Player.page.questions.review.DDTASK
*/
.ddtask-review-response{
float: left;
}

.ddtask-review-category{
font-weight: bold;
text-decoration: underline;
}

.ddtask-review-guess {
float: left;
width:16px; 
margin-left: 10px;
&.correct{
  color: green; 
}
&.incorrect{
  color: red;
}
}

// fix button overflow
.x-big .x-button.x-iconalign-left > .x-button-label{
	padding-right: 0.6em;
}



/* 

Note

 */

.note{
	&.border{
		border: 1px solid $base-color;
		border-top-width: 1px !important;
		border-right-width: 1px !important;
		border-left-width: 1px !important;
		border-bottom-width: 1px !important;
		box-sizing: border-box;
	}
	.x-panel-inner{
		.x-innerhtml{
			padding: 14px;
		}
	}
	.x-panel-outer-border-trb{
		border: none !important;
	}
}




/* 

Narration

 */

.narration{
	.x-panel-inner{
		.x-innerhtml{
			padding: 4px;
		}
	}
}