/* LowerToolBar */

.upperToolBar {
  @include single-box-shadow($hoff: 0px, $voff: 2px, $blur: 5px, $spread: 0px, $color: rgba(0, 0, 0, 0.26));
  // otherwise we can't see the shadow
  z-index: 1;
  .coursetitle-large {
    color: #666;
    font: bold 1rem helvetica, arial, sans-serif;
  }
  .coursetitle {
    color: #666;
    font-size: 16px;
    font-weight: bold;
    font: bold 1rem helvetica, arial, sans-serif;
  }
  .topictitle {
    color: #666;
    font: bold 1rem helvetica, arial, sans-serif;
  }
}
