
/*/
$active-color: #9EC8EA;
$loading-spinner-color: white;
$toolbar-base-color: #79A2CB;



$mask-gradient-color: white;
$mask-gradient-style: 'bevel';

$tab-active-color: white;
$background-color: white;
$toolbar-input-color: white;

// Misc Settings 
$include-default-icons: true;
$form-spacing: 0px 10px 0px 50px;
$include-html-style: true;

//*/
// 
// 

//@include toolbar-ui($ui:'light', $background-color: #79A2CB, $border-style: 'none', $border-width: 0);
//@include toolbar-ui('page-title', #79A2CB, 'bevel');
//@include toolbar-ui('page-title', purple, 'flat');
/* @include toolbar-ui(
	$ui:'page-title', 
	$background-color: #79A2CB, 
	$header-color: white
); */

/* body {
  background-image: "/images/#{$nth}.jpg";
} */
//$alpha: random(100)/100;

.x-big{
	.x-toolbar{
		padding: 0 !important;
	}
}


@include toolbar-ui($ui:'light', $background-color: #79A2CB, $border-style: 'none', $border-width: 0, $title-color: white);
.x-toolbar-light{
	.x-title,.x-label{
		color: white;
		background-color: transparent;
		//@include color-by-background(green);
    	//@include bevel-by-background(green);
    }
}

.x-toolbar-light{
	//@include background-image(radial-gradient(center left, ellipse cover, #9ec8ea 0%,#79a2cb 100%));
	background-color: #79A2CB;
	padding: 0;
}
 .x-toolbar-inner{
	//@include background-image(linear-gradient(top, rgba(5,255,255,0.8) 0%,rgba(5,255,255,0.62) 37%,rgba(5,255,255,0.38) 62%,rgba(5,255,255,0.5) 100%));
	@include background-image(linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 38%,rgba(255,255,255,.1) 62%,rgba(255,255,255,0.5) 100%));
} 


.x-msgbox{
  .x-dock-body{
    padding: 4px;
    background-color: white;
  }
}

/* PAGE */

@include toolbar-ui($ui:'page', $background-color: transparent, $border-style: 'none', $border-width: 0, $title-color: black);
//@include toolbar-ui($ui:'page', $background-color: transparent, $border-style: 'none', $border-width: 0, $title-color: black);

@include panel-ui(
	$ui:'page', 
	$header-background-color: transparent,
	$header-font-size: 20px,
	$header-font-weight: normal,
	$header-padding: 0 0 0 10px,
	$header-color: black
);

@include button-ui('round', 
	$background-color: #9ec8ea, 
	$background-gradient:'bevel', 
	$border-color: #4a98d8, 
	$border-width: 1px, 
	$color: white
);

@include button-ui('action', 
	$background-color: #9ec8ea, 
	$background-gradient:'bevel', 
	$border-color: #4a98d8, 
	$border-width: 1px, 
	$color: white
);

@include button-ui('back', 
	$background-color: #9ec8ea, 
	$background-gradient:'bevel', 
	$border-color: #4a98d8, 
	$border-width: 1px, 
	$color: white
);


@include button-ui('showHelp', 
	$background-color: #9ec8ea, 
	$background-gradient:'bevel', 
	$border-color: #4a98d8, 
	$border-width: 1px, 
	$color: white, 
	$font-weight: bold, 
	$font-size: 20px, 
	$border-radius: 50%,
	$border-radius-big: 50%
);

@include button-ui('nextPageBtn', 
	$background-color: #9ec8ea, 
	$background-gradient:'bevel', 
	$border-color: white, 
	$border-width: 1px, 
	$color: white, 
	$font-weight: bold, 
	$font-size: 20px, 
	$border-radius: 50%,
	$border-radius-big: 50%
);
@include button-ui('previousPageBtn', 
	$background-color: #9ec8ea, 
	$background-gradient:'bevel', 
	$border-color: white, 
	$border-width: 1px, 
	$color: white, 
	$font-weight: bold, 
	$font-size: 20px, 
	$border-radius: 50%,
	$border-radius-big: 50%
);


@include button-ui('plain', 
	$border-color: #4a98d8,
	$font-size: 20px, 
	$color: white,
	$pressed-background-gradient: dynamic(button-pressed-background-gradient(red))
);



.helppanel{
	.narrationBtn, .glossaryBtn{
		background: #9ec8ea;
	}
}


.helpBtn{
	padding: 4.6px 9px;
}

.x-toast{
	background-color: white;
}

.x-picker-bar{
	opacity: .5
}



/* @include button-ui('action-round', #9EC8EA, $background-gradient:'bevel');
@include button-ui('normal', #9EC8EA, $background-gradient:'bevel');
@include button-ui('checkanswer', #9EC8EA, $background-gradient:'bevel');
 */
.x-button.checkanswer{
	border-radius: 0;
	border: 2px solid white;
}
.x-button-label{
	color:white;
}
.x-button-icon{
	color:white;
}


.imageicon{
	width: 24px; 
	height: 24px; 
	background: rgba(100, 100, 100, .6);
	position: absolute;
	&:before{
		top: 4px;
		left: 3px;
		position: absolute;
		color: white;
		font-size: 20px;
	}
}
.zoom{
	color: #79A2CB;
}


/* 

Question

 */

 @include button-ui('resetBtn', 
	$background-color: #9ec8ea, 
	$background-gradient:'bevel', 
	$border-color: #4a98d8, 
	$border-width: 1px, 
	$color: white
);

 @include button-ui('checkAnswerBtn', 
	$background-color: #9ec8ea, 
	$background-gradient:'bevel', 
	$border-color: #4a98d8, 
	$border-width: 1px, 
	$color: white
);

.question-container{
  @include single-box-shadow($hoff: 0px, $voff: 2px, $blur: 5px, $spread: 0px, $color: rgba(0,0,0,0.26));
  background-color: white;
  margin-top: 10px;
  margin-bottom: 30px;

  .pageText{
    margin: 10px 0 0 6px;
    border-bottom: 1px solid darkgray;
  }

  .x-input-text{
    border: 1px solid darkgray;
  }
 }

.x-field{
	.x-field-input{
		min-width: initial;
	}
  background-color: white;
}

.x-form-label{
  background-color: white;
}
.hoimage{
	.imageicon{
		width: 24px; 
		height: 24px; 
		background: rgba(100, 100, 100, .6);
		position: absolute;
		&:before{
			top: 4px;
			left: 3px;
			position: absolute;
			color: white;
			font-size: 20px;
		}
	}
}






.x-iconalign-center{
	padding: 0px !important;
}


.x-toolbar-light .x-button{
	color: white !important;
	&.x-item-disabled{
		opacity: .65;
	}
}

.x-form .x-scroll-container{
	background-color: white;
}

.x-html{
	padding: 0;
	font-size: 18px;
}

.tocLabelDisabled {
	font-family: Verdana, sans-sarif;
	color: rgb(255, 139, 141);
}

.dockedtoc{
	border-right: 1px solid black;
}


.captionhead{
	font-weight: bold;
}

.page-content{
	padding:0 15px 0 10px;
}
.page-title{
	padding:0 10px;
	font-size: 20px;
}
.x-title{
	font-size: 20px;	
}

.page-mask{
	background:rgba(0,0,0,.0);
}



.x-msgbox .x-title{
	font-size: 14px;
}

.x-msgbox .x-toolbar-inner{
	background-image: none;
}



.x-video-ghost{
	background-size: 85px;
}

.close-imagepopup .x-button .x-button-icon.x-icon-mask{
	background-color:black !important;
	background-image: none !important;
}

.close-imagepopup{
	border: none !important;
	background-color: transparent !important;
	
	.x-button .x-button-icon{
		color: #666;
	}
}
.x-panel-inner{
	background: transparent;
}

.x-panel.x-floating .audiobox{
	background: transparent;
	.x-panel-inner{
		background: transparent;
	}
}

.x-layout-card-item{
	background-color: white;
}






/* 

Note

 */

.note{
  &.border{
    border: 1px solid $base-color;
    border-top-width: 1px !important;
    border-right-width: 1px !important;
    border-left-width: 1px !important;
    border-bottom-width: 1px !important;
    box-sizing: border-box;
  }
  .x-panel-inner{
    .x-innerhtml{
      padding: 14px;
    }
  }
  .x-panel-outer-border-trb{
    border: none !important;
  }
}




/* 

Narration

 */

.narration{
  .x-panel-inner{
    .x-innerhtml{
      padding: 4px;
    }
  }
}